---
import Link from "@/components/custom-ui/Link";
---

<footer
  class={`backdrop-blur-lg text-slate-500 dark:text-slate-500 flex justify-between p-2 items-center overflow-hidden`}
>
  <div class={`flex space-x-4`}>
    <Link
      uri="/"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >Main page</Link
    >
    <Link
      uri="/landing"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >Landing Page</Link
    >
    <Link
      uri="/support"
      className=" text-slate-600 dark:text-slate-400 transition-colors"
      >Support Us</Link
    >
  </div>

  <div class="text-sm">
    (c) Part of <a
      href="https://ara.foundation"
      target="_blank"
      rel="noreferrer"
      class="text-slate-600 dark:text-slate-400 transition-colors hover:text-blue-600 dark:hover:text-blue-400"
      >Ara Project</a
    >.
  </div>
</footer>
