---
import Link from "@/components/custom-ui/Link";

interface Props {
  className?: string;
  imgClassName?: string;
  noLink?: boolean;
}

const { className, imgClassName, noLink = false } = Astro.props;
---

{
  noLink ? (
    <div class={`flex flex-start h-14 items-center ${className || ""}`}>
      <div
        class={`w-8 h-8 bg-transparent rounded flex items-center justify-center relative ${imgClassName || ""}`}
      >
        <img
          src="/ara_logo.png"
          alt="Ara Logo"
          class="w-full h-full"
          loading="eager"
          fetchpriority="high"
          decoding="async"
        />
      </div>
    </div>
  ) : (
    <Link
      id="logo"
      uri="/"
      className={" flex flex-start h-14 items-center " + (className || "")}
    >
      <div
        class={`w-8 h-8 bg-transparent rounded flex items-center justify-center relative ${imgClassName || ""}`}
      >
        <img
          src="/ara_logo.png"
          id="logoImg"
          alt="Ara Logo"
          class="w-full h-full absolute inset-0"
          loading="eager"
          fetchpriority="high"
          decoding="async"
        />
        <img
          src="/ara_logo_hover.png"
          id="hoveredLogoImg"
          alt="Ara Logo"
          class="w-full h-full absolute inset-0"
          loading="eager"
          fetchpriority="low"
          decoding="async"
        />
      </div>
    </Link>
  )
}
<style>
  #logo.hyperlink #logoImg {
    display: block;
  }
  #logo.hyperlink #hoveredLogoImg {
    display: none;
  }
  #logo.hyperlink #logoSubtitle {
    display: block;
    transition: font-size 0.1s ease-out;
  }

  #logo.hyperlink:hover #logoSubtitle {
    opacity: 0.4;
    font-size: 0.65rem;
  }

  #logo.hyperlink:hover #logoImg {
    display: none;
  }

  #logo.hyperlink:hover #hoveredLogoImg {
    display: block;
  }
</style>
